RewriteEngine on

RewriteRule ^home index.php [NC,L]
RewriteRule ^contact contactus.php [NC,L]
RewriteRule ^admin admin/login.php [NC,L]
RewriteRule ^dashboard admin/dashboard.php?dashboard=dashboard.php [NC,L]


<ifmodule mod_headers.c="">
   SetEnvIf Origin "^(.*\.domain\.com)$" ORIGIN_SUB_DOMAIN=$1
   Header set Access-Control-Allow-Origin "%{ORIGIN_SUB_DOMAIN}e" env=ORIGIN_SUB_DOMAIN
   Header set Access-Control-Allow-Methods: "*"
   Header set Access-Control-Allow-Headers: "Origin, X-Requested-With, Content-Type, Accept, Authorization"
</ifmodule>